<!-- Карточка для главной страницы -->
<div class="card-deck mb-3"> <!-- вместо row у нас card-deck mb-3 -->
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Название</h5>
                <p class="card-text">Вступление...</p>
                <a class="btn btn-secondary"
                   href="#"
                   role="button">Читать »
                </a>
        </div>
    </div>
</div>
<!-- Карточка для блога, новостей-->
<div class="col-md-4">
	<div class="card" style="width: 18rem; height: 220px;">
		<div class="card-body">
			<h5 class="card-title">Заголовок</h5>
			<p class="card-text">Вступление</p>
			<a href="#" class="card-link">Читать</a>
			<a href="#" class="card-link">Изменить</a>
		</div>
	</div>
</div>
